<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Cart</title>
</head>
<body>

<table>
    <thead>
        <tr>
            <th>Product</th>
            <th>Price</th>
            <th>Pic</th>
            <th>Quantity</th>
            <th>Total</th>
            <th>Actions</th>
        </tr>
    </thead>
   <tbody>
    {% for item in cart_items %}
        <tr>
            <td>{{ item.product.name }}</td>
            <td>{{ item.product.price }}</td>

            <!-- Картинка -->
            <td>
                {% if item.product.image %}
                    <img src="{{ item.product.image.url }}" alt="{{ item.product.name }}" width="80">
                {% else %}
                    <span>No image</span>
                {% endif %}
            </td>

            <!-- Количество -->
            <td>{{ item.quantity }}</td>

            <!-- Итог -->
            <td>{% widthratio item.product.price 1 item.quantity %}</td>

            <!-- Кнопки -->
            <td>
                <a href="{% url 'cart:update_item' item.id %}?quantity=1">+</a>
                <a href="{% url 'cart:update_item' item.id %}?quantity=-1">-</a>
                <a href="{% url 'cart:remove_item' item.id %}">Remove</a>
            </td>
        </tr>
    {% endfor %}
</tbody>
    <tfoot>
        <tr>
            <td colspan="3"></td>
            <td>Total: {{ total_price }}</td>
            <td><a href="{% url 'cart:checkout' %}">Checkout</a></td>
        </tr>
    </tfoot>
</table>

</body>
</html>